@font-face {
    font-family: 'alagard';
    src: url('../fonts/alagard.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --alagard: 'alagard', sans-serif; 
}

button{
    cursor: pointer !important;
}